<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}
{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            //var permisos = {{ user.permisos }}
            //grupos.inicializar(permisos)
        });
    </script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>Impacto de activo por cada requerimiento de seguridad</h5>

                        <div class="widget-control pull-right">
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">


                            <table id="table_group" class="table">
                                <tbody>
{% comment %}                                <tr>
                                    <td>
                                         <div style="width:30%">
                                            <canvas id="canvas" height="450" width="450"></canvas>
                                        </div>
                                    </td>
                                </tr>{% endcomment %}
                                <tr>
                                    <td>
                                        <div>
                                            <canvas id="canvas1" height="100" width="600"></canvas>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var radarChartData = {
            labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 90, 81, 56, 55, 40]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 96, 27, 100]
                }
            ]
        };
        var randomScalingFactor = function () {
            return Math.round(Math.random() * 10)
        };

        var barChartData = {
            labels: ["Información Base de datos Empleado", "Acceso a Confluence", "Computador empleado 1"],
            multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
            datasets: [
                {
                    label: "Trazabilidad",
                    fillColor: "rgba(237,26,89,0.5)",
                    strokeColor: "rgba(237,26,89,0.5)",
                    highlightFill: "rgba(237,26,89,0.5)",
                    highlightStroke: "rgba(237,26,89,0.5)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                },
                {
                    label: "Autenticidad",
                    fillColor: "rgba(26,188,237,0.5)",
                    strokeColor: "rgba(26,188,237,0.5)",
                    highlightFill: "rgba(26,188,237,0.5)",
                    highlightStroke: "rgba(26,188,237,0.5)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                },
                                    {
                    label: "Confidencialidad",
                    fillColor: "rgba(26,237,68,0.5)",
                    strokeColor: "rgba(26,237,68,0.5)",
                    highlightFill: "rgba(26,237,68,0.5)",
                    highlightStroke: "rgba(26,237,68,0.5)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                },
                                                        {
                    label: "Integridad",
                    fillColor: "rgba(223,237,71,0.5)",
                    strokeColor: "rgba(223,237,71,0.5)",
                    highlightFill: "rgba(223,237,71,0.5)",
                    highlightStroke: "rgba(223,237,71,0.5)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                },
                                                        {
                    label: "Disponibilidad",
                    fillColor: "rgba(163,7,224,0.5)",
                    strokeColor: "rgba(163,7,224,0.5)",
                    highlightFill: "rgba(163,7,224,0.5)",
                    highlightStroke: "rgba(163,7,224,0.5)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                }
            ]

        }

        window.onload = function () {
            //var myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
            //    responsive: true
            //});

            var ctx = document.getElementById("canvas1").getContext("2d");
            var myBar = new Chart(ctx).Bar(barChartData, {
                responsive: true,
                multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
            });
        }
    </script>
{% endblock %}