<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "base.html" %}

{% block contenedor %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="branding">
                    <div class="logo">
                        <a><img src="{{ STATIC_URL }}img/logo.jpg" style="margin-top: 3px"/></a>
                    </div>
                </div>
                <ul class="nav pull-right">
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        {% if user.username %}

                            {% if user.first_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        {% endif %}{% if notificaciones.contador > 0 %}<span
                            class="alert-noty">{{ notificaciones.contador }}</span>{% endif %}<i
                            class="white-icons admin_user"></i><b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-inbox"></i> Mensajes <span class="alert-noty">10</span></a>
                            </li>
                            <li><a href="{% url notificaciones %}"><i class="icon-envelope"></i>
                                Notificaciones {% if notificaciones.contador > 0 %}<span
                                        class="alert-noty">{{ notificaciones.contador }}</span>{% endif %}</a></li>
                            <li><a href="#"><i class="icon-briefcase"></i> Perfil</a></li>
                            <li><a href="#"><i class="icon-cog"></i> Configuración</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url logout %}"><i class="icon-off"></i><strong> Logout</strong></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="error404">
        <div class="container error-page-cntainer">
            <div class="row">
                <!--404 with error message show area start here-->
                <div class="span8">
                    <div class="leftSide">
                        <div class="errorCode">
                            404
                        </div>
                        <div class="bubble">
                            <h3><span>Oops!</span>Página no encontrada</h3>


                            <p>
                                Lo sentimos, pero la página que busca no existe. :(
                            </p>
                        </div>
                    </div>
                </div>
                <!--404 with error message show area end here-->
                <!--Right side sugestions area start here-->
                <div class="span4">
                    <div class="rightSide">
                        <h3><span>¿Está perdido?</span> Sugerencias...</h3>
                        <ol>
                            <li>Checking the web address for typos.</li>
                            <li>Visiting the <a href="#">home</a> page.</li>
                            <li>Visiting our full website <a href="#">sitemap</a> here.</li>
                            <li>Using our site search below</li>
                        </ol>
                        <p>
                            You may have mistyped the URL or the page may have been removed from our system. Try
                            searching
                            by entering keyword in the search field or try one of the links below.
                        </p>

                        <form class="form-search">
                            <input type="text" class="input-medium search-query">
                            <button class="btn" type="submit">Search</button>
                        </form>
                        <p class="error-report">
                            Do you think this page should be here and we've got a problem? <a href="#">Report
                            please!</a>
                        </p>
                    </div>
                </div>
                <!--Right side sugestions end start here-->
            </div>
        </div>
    </div>
{% endblock %}
