<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>SGSI-SOFT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->

    <!-- Bootstrap styles Necesario para las barras en la subida de archivos-->
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.jqplot.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/prettify.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/elfinder.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/elfinder.theme.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/fullcalendar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/plupupload/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/styles_.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/icons-sprite.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/tree.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.treetable/jquery.treetable.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ STATIC_URL }}webix/codebase/webix.css" type="text/css" charset="utf-8">

    <link href="{{ STATIC_URL }}webix/codebase/skins/compact.css" rel="stylesheet" type="text/css">


    <link id="themes" href="{{ STATIC_URL }}css/themes.css" rel="stylesheet">





    <!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie/ie7.css" />
<![endif]-->
    <!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie/ie8.css" />
<![endif]-->
    <!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie/ie9.css" />
<![endif]-->
    <!--fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo-favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/prettify.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.sparkline.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>
    <script src="{{ STATIC_URL }}js/accordion.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/smart-wizard.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/vaidation.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-dynamic-form.js"></script>
    <script src="{{ STATIC_URL }}js/fullcalendar.js"></script>
    <script src="{{ STATIC_URL }}js/raty.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.noty.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cleditor.min.js"></script>
    <script src="{{ STATIC_URL }}js/data-table.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/TableTools.min.js"></script>
    <script src="{{ STATIC_URL }}js/ColVis.min.js"></script>
    <script src="{{ STATIC_URL }}js/plupload.full.js"></script>
    <script src="{{ STATIC_URL }}js/elfinder/elfinder.min.js"></script>
    <script src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/uniform.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
    <script src="{{ STATIC_URL }}js/check-all.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/inputmask.jquery.js"></script>
    <script src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
    <script src="{{ STATIC_URL }}js/plupupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script src="{{ STATIC_URL }}js/excanvas.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/chart/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/chart/jqplot.cursor.min.js"></script>
    <script src="{{ STATIC_URL }}js/chart/jqplot.dateAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/custom-script.js"></script>
    <!--script src="{{ STATIC_URL }}js/tree.js"></script-->
    <script src="{{ STATIC_URL }}js/Es-es.js"></script>
    <script src="{{ STATIC_URL }}js/date.format.js"></script>
    <script src="{{ STATIC_URL }}js/typeahead.bundle.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.treetable/jquery.treetable.js"></script>


    <!--Scripts ans style for growls-->
    <script src="{{ STATIC_URL }}js/jquery.growl.js"></script>
    <link href="{{ STATIC_URL }}css/jquery.growl.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}webix/codebase/webix.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script src="{{ STATIC_URL }}js/gestion_documental/actividades.js"></script>
    <script src="{{ STATIC_URL }}js/gestion_documental/documentos.js"></script>
    <script src="{{ STATIC_URL }}js/gestion_roles/usuarios.js"></script>

    <!--script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script-->


    <!-- html5.js for IE less than 9 -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <script src="{{ STATIC_URL }}js/ios-orientationchange-fix.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49704958-1', 'sgsisoft-sgsisoft.rhcloud.com');
        ga('send', 'pageview');

    </script>

</head>


<body>
<style type="text/css">
    .loading_modal {
        opacity: 0.7;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .8) url('{{ STATIC_URL }}img/loading.gif') 50% 50% no-repeat;
    }

    body.loading {
        overflow: hidden;
    }
</style>
<div id="loading_modal" class="loading_modal"></div>
<div class="modal hide fade" id="modal_mensaje">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×
        </button>
        <h3>Información</h3>
    </div>

    <div class="modal-body">
        <div id="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
    </div>
</div>

<div class="modal hide fade" id="window_mensaje">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×
        </button>
        <h3>Información</h3>
    </div>

    <div class="modal-body">
        <div id="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal">Aceptar</button>
    </div>
</div>
{% block contenedor %}

{% endblock %}
{% block content %}
{% endblock %}

</body>
</html>