<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "base.html" %}
{% load home_extras %}
{% block contenedor %}
    {# <script src="{% constants_value "HOST_NODE" %}socket.io/socket.io.js"></script> #}
    <script type="text/javascript">
        {#  var socket= io.connect("{% constants_value "HOST_NODE" %}"); #}
    </script>
    <script src="{{ STATIC_URL }}js/home/dashboard.js"></script>
    <script>
        $(document).ready(function () {
            dashboardjs.inicializar()
        });
    </script>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner top-nav">
            <div class="container-fluid">
                <div class="branding">
                    <a href="{% url inicio %}"><img src="{{ STATIC_URL }}img/logo.jpg" style="height: 40px"/></a>
                </div>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="white-icons alarm_bell"></i>
                            <span class="alert-noty"><div id="notificationsCounter"></div></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" id="notificationsContainer">
                        </ul>
                    </li>
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        {% if user.username %}

                            {% if user.first_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        {% endif %}{% if notificaciones.contador > 0 %}<span
                            class="alert-noty">{{ notificaciones.contador }}</span>{% endif %}<i
                            class="white-icons admin_user"></i><b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% comment %}<li><a href="#"><i class="icon-inbox"></i> Mensajes <span class="alert-noty">10</span></a>
                            </li>{% endcomment %}
                            <li><a href="{% url userProfile %}"><i class="icon-briefcase"></i> Perfil</a></li>
                            <li><a href="{% url user_setpassword %}"><i class="icon-cog"></i> Cambiar contraseña</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url logout %}"><i class="icon-off"></i><strong> Logout</strong></a></li>
                        </ul>
                    </li>
                </ul>
                <!--button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button-->
            </div>
        </div>
    </div>
    <div id="sidebar">
        <ul class="side-nav accordion_mnu collapsible">
            <li><a href="{% url inicio %}"><span class="white-icons computer_imac"></span> {% if user.is_staff %}Panel
                de
                Administraci&oacute;n{% else %}Panel de Usuario{% endif %}</a>
            </li>
            {#            {% if user.is_staff %}#}
            {% for menuGroup in user.menu %}
                <li><a href="#"><span class="white-icons {{ menuGroup.imagen }}"></span> {{ menuGroup.nombre }}</a>
                    <ul class="acitem">
                        {% for menuItem in menuGroup.menuItems %}
                            <li><a href="{{ menuItem.urlPath }}"><span class="sidenav-icon"><span
                                    class="sidenav-link-color"></span></span>{{ menuItem.nombre }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            <li><a href="{% url calendario %}"><span class="white-icons month_calendar"></span> Calendario</a>
            </li>

            <li><a href="#"><span class="white-icons graph"></span> Informes</a>
                 <ul class="acitem" style="display: block;">

                            <li><a href="{% url reportOne %}"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Analisis de riesgos</a></li>

                    </ul>
            </li>

        </ul>

        <div class="new-update">
            <h2><i class="icon-list-alt"></i> Últimos Eventos</h2>

            {% for act in user.recent %}
                <div class="side-news">
                    <h5><a href="#">{{ act.titulo }}</a></h5>
                    <p>{{ act.descripcion }} - {{ act.fecha }}</p>
                </div>
            {% empty %}
                <span>No hay eventos</span>

            {% endfor %}

        </div>
    </div>
    <div id="main-content">
        {% block zonaTrabajo %}

        {% endblock %}
    </div>
    <!-- javascript
    ================================================== -->

    <!-- html5.js for IE less than 9 -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <script>
        $(function () {
            var line1 = [
                ['23-May-08', 299.14],
                ['20-Jun-08', 320.45],
                ['25-Jul-08', 480.88],
                ['22-Aug-08', 509.84],
                ['26-Sep-08', 654.13],
                ['24-Oct-08', 779.75],
                ['21-Nov-08', 803],
                ['26-Dec-08', 908.56],
                ['23-Jan-09', 501.14],
                ['20-Feb-09', 1056.51],
                ['20-Mar-09', 1225.99],
                ['24-Apr-09', 1386.15]
            ];
            var plot1 = $.jqplot('chart1', [line1], {
                title: 'THIS MONTH REVENUE',
                axes: {
                    xaxis: {
                        renderer: $.jqplot.DateAxisRenderer,
                        tickOptions: {
                            formatString: '%b&nbsp;%#d'
                        }
                    },
                    yaxis: {
                        tickOptions: {
                            formatString: '$%.2f'
                        }
                    }
                },
                seriesDefaults: {
                    show: true,     // wether to render the series.
                    xaxis: 'xaxis', // either 'xaxis' or 'x2axis'.
                    yaxis: 'yaxis', // either 'yaxis' or 'y2axis'.
                    color: '#196795',      // CSS color spec to use for the line.  Determined automatically.
                    lineWidth: 3, // Width of the line in pixels.
                    shadow: false  // show shadow or not.
                },
                highlighter: {
                    show: true,
                    sizeAdjust: 7.5
                },
                grid: {
                    background: '#fff',
                    drawBorder: false,
                    shadow: false,
                    gridLineColor: '#ccc',
                    gridLineWidth: 1
                },
                cursor: {
                    show: false
                }
            });
        });
        $(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $('#calendar-widget').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    prev: 'Prev',
                    next: 'Next',
                    today: 'Today',
                    month: 'Month',
                    week: 'Week',
                    day: 'Day'
                },
                editable: false,
                events: [
                    {% for actividad in actividades %}
                        {
                            title: '{{ actividad.titulo }}',
                            start: new Date(y, m, d + {{ actividad.inicio }}),
                            end: new Date(y, m, d + {{ actividad.fin }})
                        },

                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}