<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}

{% block zonaTrabajo %}
    <!-- Si es administrador -->
    {% if user.is_staff %}
    <script>
        $(document).ready(function () {
            var permisos = {{ user.permisos }};
            usuarios.inicializar(permisos)
            actividades.tipo = "admin"
            actividades.readDashboard();
            documentos.readDashboard();
            usuarios.readDashboard();
        });
    </script>
        <div class="container-fluid">
        <div class="dashboard-widget" style="display:none">
            <div class="row-fluid">
                <div class="span2">
                    <div class="dashboard-wid-wrap">
                        <div class="dashboard-wid-content"><a href="#"> <i
                                class="dashboard-icons-colors refresh_sl"></i> <span class="dasboard-icon-title">Autoevaluación</span>
                        </a></div>
                    </div>
                </div>
                <div class="span2">
                    <div class="dashboard-wid-wrap">
                        <div class="dashboard-wid-content"><a href="#"> <i
                                class="dashboard-icons-colors archives_sl"></i> <span class="dasboard-icon-title">Gestión Documental</span>
                        </a></div>
                    </div>
                </div>
                <div class="span2">
                    <div class="dashboard-wid-wrap">
                        <div class="dashboard-wid-content"><a href="#"> <i class="dashboard-icons-colors busy_sl"></i>
                            <span class="dasboard-icon-title">Gestión de Riesgos</span> </a></div>
                    </div>
                </div>

                <div class="span2">
                    <div class="dashboard-wid-wrap">
                        <div class="dashboard-wid-content"><a href="#"> <i
                                class="dashboard-icons-colors graphic_design_sl"></i> <span class="dasboard-icon-title">Gestión de Activos</span>
                        </a></div>
                    </div>
                </div>
                <div class="span2">
                    <div class="dashboard-wid-wrap">
                        <div class="dashboard-wid-content"><a href="#"> <i
                                class="dashboard-icons-colors current_work_sl"></i> <span class="dasboard-icon-title">Resultados</span>
                        </a></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row-fluid" style="display:none">
            <div class="switch-board-round">
                <ul class="clearfix">
                    <li><a href="{% url nUsuario %}" class="tip-top" title="Nuevo Usuario"><span
                            class="srabon-sprite plus_sl"></span></a>
                    </li>
                    <li><a href="#" class="tip-top" title="Nuevo Documento"><span class="srabon-sprite cv_sl"></span></a></li>
                    <li><a href="{% url nActividad %}" class="tip-top" title="Nueva Actividad"><span
                            class="srabon-sprite order_sl"></span></a>
                    </li>
                    <li><a href="{% url nActivo %}" class="tip-top" title="Nuevo Activo"><span class="srabon-sprite database_sl"></span></a>
                    </li>
                    <li><a href="{% url calendario %}" class="tip-top" title="Calendario"><span
                            class="srabon-sprite calendar_sl"></span></a></li>
                    <li><a href="#" class="tip-top" title="Informes"><span class="srabon-sprite statistics_sl"></span></a></li>
                    <li><a href="#" class="tip-top" title="Soporte"><span class="srabon-sprite lightbulb_sl"></span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row-fluid" style="display:none;">
            <div class="span9">
                <div class="index-graph">
                    <div class="chart-block">
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row-fluid">
            <div class="span6 ">
                <div class="nonboxy-widget">
                    <div class="widget-head">
                        <h5><i class="black-icons day_calendar"></i> Calendario</h5>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <div id="calendar-widget"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6 ">
                <div class="nonboxy-widget">
                    <div class="widget-head">
                        <h5><i class="black-icons  documents"></i> Actividades</h5>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <table class="table activities-tbl table-striped">
                                <thead>
                                <tr>
                                    <th> Detalles</th>
                                    <th> Estado</th>
                                    <th class="center"> Acción</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
        <div class="span6 ">
            <div class="widget-block">
                <div class="widget-head">
                    <h5><i class="black-icons money"></i> Documentos</h5>

                    <div class="widget-control pull-right" style="display: none"><a href="#" data-toggle="dropdown"
                                                              class="btn dropdown-toggle"><i class="icon-cog"></i><b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-list"></i> View All Orders</a></li>
                            <li><a href="#"><i class="icon-search"></i> Search Orders</a></li>
                            <li><a href="#"><i class="icon-ok"></i> Bulk Approved</a></li>
                            <li><a href="#"><i class="icon-minus-sign"></i> Bulk Cancel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="widget-selectbox" style="display: none">
                        <ul>
                            <li class="row-counts">Total: <span id="total-documents">0</span></li>
                            <li class="right">
                                <form action="#" method="get">
                                    <div class="input-prepend"><span class="add-on"><i class="icon-list-alt"></i></span>
                                        <select name="" class="data-select">
                                            <option value="Pending">Revisión</option>
                                            <option value="Processing">Terminado</option>
                                            <option value="Completed">Publicado</option>
                                        </select>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-box">
                        <table class="table documents-tbl">
                            <thead>
                            <tr>
                                </th>
                                <th> Detalle</th>
                                <th class="center"> Estado</th>
                                <th class="center"> Última modificación</th>
                                <th class="center"> Acción</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6 ">
            <div class="widget-block">
                <div class="widget-head">
                    <h5><i class="black-icons users"></i> USUARIOS</h5>

                    <div class="widget-control pull-right" style="display:none;"><a href="#" data-toggle="dropdown"
                                                              class="btn dropdown-toggle"><i class="icon-cog"></i><b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-plus"></i> Add User</a></li>
                            <li><a href="#"><i class="icon-remove"></i> Remove User</a></li>
                            <li><a href="#"><i class="icon-pencil"></i> Edit User</a></li>
                            <li><a href="#"><i class="icon-ok"></i> Approve User</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-heart"></i> Add Favorites</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="widget-box">
                        <table class="table user-tbl">
                            <thead>
                            <tr>
                                <th class="center"> Usuario</th>
                                <th> Información</th>
                                <th> Email</th>
                                <!--th class="center"> Acción</th-->
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    {% else %}

        <div class="container-fluid">
            <ul class="breadcrumb">
                <li><a href="{% url inicio %}">Inicio</a><span class="divider">&raquo;</span></li>
                <li class="active">Mis actividades</li>
            </ul>
            {% if notificaciones.contador > 0 %}
                <div class="row-fluid">
                    <div class="span12">

                        <div class="alert fade in">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            <a href="{% url notificaciones %}"><strong>Nuevas Actividades!</strong></a>.
                            Hola, {{ user.username }} tienes
                            nuevas actividades por realizar.
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row-fluid">
                <div class="span12">
                    <div id="calendar2">
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();
                $('#calendar2').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    buttonText: {
                        prev: 'Prev',
                        next: 'Next',
                        today: 'Today',
                        month: 'Month',
                        week: 'Week',
                        day: 'Day'
                    },
                    editable: false,
                    events: [
                        {% for actividad in actividades %}
                        {
                            title: '{{ actividad.titulo }}',
                            start: new Date(y, m, d + {{ actividad.inicio }}),
                            end: new Date(y, m, d + {{ actividad.fin }}),

                        },

                        {% endfor %}

                    ]
                });
            });
        </script>
    {% endif %}

{% endblock %}

