<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "base.html" %}

{% block contenedor %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="branding">
                    <div class="logo">
                        <a><img src="{{ STATIC_URL }}img/logo.jpg" style="margin-top: 3px"/></a>
                    </div>
                </div>
                <ul class="nav pull-right">
                    <!--li><a href="#"><i class="icon-share-alt icon-white"></i></a></li-->
                </ul>
            </div>
        </div>
    </div>
    <div class="login-container">
        <div class="well-login">
            <form method="post">
            {% csrf_token %}
            {% if error_ingreso %}
                {% if error %}
                    {{ error }}
                {% else %}
                    <p>Error al ingresar</p>
                {% endif %}
                {% comment %} <div class="red">

				<span class="close">&#10006;</span>
			</div>{% endcomment %}

            {% endif %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                <div class="alert alert-success fade in">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Actividad creada!</strong> Su actividad se ha creada de manera éxitosa se le
                notificara a los usuarios encargados.
            </div>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="control-group">
                <div class="controls">
                    <div>
                        <input type="text" placeholder="Usuario" name="usuario" class="login-input user-name">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div>
                        <input type="password" placeholder="Contraseña" name="contrasena" class="login-input user-pass">
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <button class="btn btn-inverse login-btn" type="submit">Login</button>
            </div>
            <div class="remember-me">
                <a href="{% url password_reset_recover %}">¿Olvido su contrase&ntilde;a?</a>
            </div>
            </form>
        </div>
    </div>

{% endblock %}
