<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends 'dashboard.html' %}

{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/gestion_activos/activos.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a><span class="divider">&raquo;</span></li>
            <li><a href="#">Usuario</a><span class="divider">&raquo;</span></li>
            <li class="active">Detalles</li>
        </ul>
        <div class="row-fluid">
            <div class="nonboxy-widget">
                <div class="widget-head">
                    <h5>{{ activo.nombre }}</h5>

                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-block">
                        <div class="widget-head">
                            <h5>INFORMACIÓN</h5>

                            <div class="widget-control pull-right">
                                <div class="pull-right"><a class="btn" href="{% url lActivo %}"><i
                                        class="color-icons delete_co"></i>Eliminar</a></div>
                                <div class="pull-right"><a class="btn" href="{% url eActivo activo.id %}"><i
                                        class="color-icons desktop_co"></i>Editar</a></div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box">

                                <br/>
                                <dl class="dl-horizontal">
                                    <dt>Nombre</dt>
                                    <dd>{{ activo.nombre }}</dd>
                                    <dt>Dependencia</dt>
                                    <dd>
                                        {% for dependencia in activo.dependencias.all %}
                                            {{ dependencia }}
                                        {% empty %}
                                            Ninguna
                                        {% endfor %}
                                    </dd>
                                    <dt>Tipo</dt>
                                    <dd>{{ activo.tipo.getNombre }}
                                    </dd>
                                    <dt>Almacenamiento</dt>
                                    <dd>{{ activo.almacenamiento }}</dd>
                                    <dt>Relevancia</dt>
                                    <dd>{{ activo.relevancia }}</dd>
                                    <dt>Categoria</dt>
                                    <dd>{{ activo.categoria }}</dd>
                                </dl>

                                <br/>
                                <br/>

                            </div>
                        </div>
                    </div>
                    <div class="widget-block">
                        <div class="widget-head">
                            <h5>RESPONSABLE</h5>

                            <div class="widget-control pull-right">
                                <div class="pull-right"><a class="btn" href="{% url lUsuario %}"><i
                                        class="color-icons user_co"></i>Usuarios</a></div>
                                <div class="pull-right"><a class="btn" href="{% url nUsuario %}"><i
                                        class="color-icons add_co"></i>Usurio</a></div>
                                <div class="pull-right"><a class="btn" href="{% url nGrupo %}"><i
                                        class="color-icons group_co"></i>Nuevo</a></div>
                                <div class="pull-right"><a class="btn" href="{% url pRoles %}"><i
                                        class="color-icons application_home_co"></i>Panel</a></div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box">
                                <dl class="dl-horizontal">
                                    <dt>Nombre</dt>
                                    <dd>{{ activo.responsable }}</dd>
                                    <dt>Cargo</dt>
                                    <dd>{{ activo.responsable.cargo }}</dd>
                                    <dt>Email</dt>
                                    <dd>{{ activo.responsable.email }}
                                    </dd>
                                </dl>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="widget-block">
                        <div class="widget-head">
                            <h5>EVALUACIÓN</h5>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box">
                                <table class="table table-hover" id="table_permissions">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Rol</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}