<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}

{% block zonaTrabajo %}

    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">Gestión Activos</a><span class="divider">&raquo;</span></li>

            <li class="active">crear Activo</li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="nonboxy-widget">
                    <div class="widget-head">
                        <h5> Crear Recurso</h5>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <div class="alert alert-success fade in">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>Actividad creada!</strong> Su actividad se ha creada de manera éxitosa se le
                                notificara a los usuarios encargados.
                            </div>

                            <form class="form-horizontal well" method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="id_nombre">Nombre</label>

                                        <div class="controls">
                                            {{ formulario.nombre }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="id_descripcion">Descripción</label>

                                        <div class="controls">
                                            {{ formulario.descripcion }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Tipo</label>

                                        <div class="controls">
                                            {{ formulario.tipo }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Activos que soporta</label>

                                        <div class="controls">
                                            {{ formulario.activos }}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Usuarios</label>

                                        <div class="controls">
                                            {{ formulario.usuarios }}
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-info">Guardar</button>
                                        <button class="btn btn-warning">Cancelar</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}