/*====================
BOOTSTRAP RESET
======================*/

.separador {

    font-size: 12px;
    border-bottom: #bbb 2px solid;
    height: 10px;
    margin-bottom: 10px;
    position: relative;
}

.fecha {
    font-size: 12px;
    color: #707070;
}

.scroll {

    overflow-y : scroll;
}


