<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "base.html" %}

{% block contenedor %}

    <div class="navbar navbar-fixed-top">
        <h1>Error 500. Error interno del servidor</h1>
    </div>

{% endblock %}
