<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "base.html" %}

{% block contenedor %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="branding">
                    <div class="logo">
                        <a><img src="{{ STATIC_URL }}img/logo.jpg" style="margin-top: 3px"/></a>
                    </div>
                </div>
                <ul class="nav pull-right">
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        {% if user.username %}

                            {% if user.first_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        {% endif %}{% if notificaciones.contador > 0 %}<span
                            class="alert-noty">{{ notificaciones.contador }}</span>{% endif %}<i
                            class="white-icons admin_user"></i><b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-inbox"></i> Mensajes <span class="alert-noty">10</span></a>
                            </li>
                            <li><a href="{% url notificaciones %}"><i class="icon-envelope"></i>
                                Notificaciones {% if notificaciones.contador > 0 %}<span
                                        class="alert-noty">{{ notificaciones.contador }}</span>{% endif %}</a></li>
                            <li><a href="#"><i class="icon-briefcase"></i> Perfil</a></li>
                            <li><a href="#"><i class="icon-cog"></i> Configuración</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url logout %}"><i class="icon-off"></i><strong> Logout</strong></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row error-wrap">
            <div class="span3">
                    <span><img src="{{ STATIC_URL }}img/img_sgsi/access_denied.png"></span>
            </div>
            <div class="span5">
                <div class="error-title">
                    <span style="font-size: 58px;">Acceso denegado</span>
                </div>
                <div>
                    <h3 class="error-message"><span>Lo siento, no tiene permisos de acceso.</span>
                        solicite a su administrador.</h3>

                    <p>
                        Medios de solicitud:
                    </p>
                    <ul class="error-instruction">
                        <li>Envie un correo a <a href="#">info-sgsisoft@gmail.com</a></li>
                        <li>Volver a <a href="{% url inicio %}">inicio</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
