<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% comment %}{% extends 'dashboard.html' %}

{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/gestion_roles/usuarios.js"></script>
    <script src="{{ STATIC_URL }}js/gestion_roles/permisos.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script>
        $(document).ready(function () {
            usuarios.idResponsable = parseInt({{ grupo.id }})
            permisos.idResponsable = parseInt({{ grupo.id }})
            permisos.tipoResponsable = "group"
            usuarios.readUserGroup()
            permisos.read()
        });
    </script>{% endcomment %}
<div class="container-fluid">
    <div class="row-fluid">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Miembros</a></li>
                <li><a href="#tabs-2">Permisos</a></li>
            </ul>
            <div id="tabs-1">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>MIEMBROS</h5>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <div class="span6">
                                <table class="table" id="table_usersNoGroup">
                                    <thead>

                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <style type="text/css">
                                    .tbl-searchbox {
                                        padding: 0px 20px 14px 0px;
                                    }
                                </style>
                            </div>
                            <div class="span6">
                                <table class="table" id="table_usersGroup">
                                    <thead>

                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <style type="text/css">
                                    .tbl-searchbox {
                                        padding: 0px 20px 14px 0px;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-2">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>PERMISOS</h5>

                        <div class="widget-control pull-right" id="permisosAddSection">
                            <div class="pull-right" style="padding-left: 20px">
                                <a class="info_t btn" onclick="permisos.add()"><i class="color-icons add_co"></i>Agregar</a>
                            </div>
                            <div class="pull-right">
                                <select style="width: 120px; height: 40px" name="roles" id="roles">
                                    {% for rol in roles %}
                                        <option value="{{ rol.getValor }}">{{ rol.getNombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="span6">
                                        <div class="tree" style="overflow-y: scroll; height: 300px">
                                            {% load mptt_tags %}
                                            <ul>
                                                {% recursetree nodes %}
                                                    <li>
                                                        <span><input type="radio" name="permisos" id="{{ node.id }}"
                                                                     value="{{ node.id }}"/><i
                                                                class="icon-calendar"></i> {{ node.nombre }}</span>
                                                        {% if not node.is_leaf_node %}
                                                            <ul class="children">
                                                                {{ children }}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endrecursetree %}
                                            </ul>
                                        </div>
                                    </div>
                                    <style>
                                        .tbl-searchbox {
                                            padding: 0px 20px 14px 0px;
                                        }
                                    </style>
                                    <div class="span6">
                                        <table class="table" id="table_permissions">
                                            <thead>

                                            <tr>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Rol
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>
                                        <style type="text/css">
                                            .tbl-searchbox {
                                                padding: 0px 20px 14px 0px;
                                            }
                                        </style>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_confirmacion" title="Eliminar Permiso">
    <div class="modal-body">
        ¿Está seguro que desea eliminar el permiso: <b><span id="nombre_permiso"></span></b>?
    </div>
</div>

<div id="modal_edicion" title="Editar Permiso" style="overflow-y:hidden">
    <form id="form_update_permission" class="form-horizontal">
        <div class="modal-body">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="id_nombre">Nombre : </label>

                    <div class="controls">
                        <span id="nombrePermisoEditar" style="font-weight: bold"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_nombre">Rol : </label>

                    <div class="controls">
                        <select style="width: 120px" name="rolesEditar" id="rolesEditar">
                            {% for rol in roles %}
                                <option value="{{ rol.getValor }}">{{ rol.getNombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" id="bUpdatePermission">
                Actualizar
            </button>
            <button class="btn btn-warning" id="cancelUpdatePermission">
                Cancelar
            </button>
        </div>
    </form>
</div>