<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}
{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/gestion_roles/grupos.js"></script>
    <script src="{{ STATIC_URL }}js/gestion_roles/permisos.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script>
        $(document).ready(function () {
            var permisos = {{ user.permisos }}
            grupos.inicializar(permisos)
        });
    </script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>Grupos</h5>

                        <div class="widget-control pull-right">
                            <div class="pull-right"><a class="btn" href="{% url nGrupo %}" id="newGrupo"><i
                                    class="color-icons add_co"></i>Nuevo</a></div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <table id="table_group" class="table">
                                <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
{% comment %}                                    <th>
                                        Miembros
                                    </th>{% endcomment %}
                                    <th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="window_grupo" title="Grupo">
        <div id="content"></div>
    </div>

<div id="dialog-confirm" title="Eliminar Grupo">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>¿Está seguro que desea eliminar el grupo: <b><span id="nombre_grupo"></span></b>?</p>
</div>

{% endblock %}