<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="nonboxy-widget">
                <div class="widget-content">
                    <div class="widget-box">
                        <div class="alert alert-success fade in" style="display: none">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Actividad creada!</strong> Su actividad se ha creada de manera éxitosa se le
                            notificara a los usuarios encargados.
                        </div>

                        <form id="formGroup" class="form-horizontal well" method="POST" action="">
                            {% csrf_token %}
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="id_nombre">Nombre</label>

                                    <div class="controls">
                                        {{ formulario.nombre }}
                                    </div>
                                </div>
                                {% comment %}                                    
                                    <div class="control-group">
                                        <label class="control-label" for="id_personas">Miembros</label>

                                        <div class="controls">
                                            {{ formulario.personas }}
                                        </div>
                                    </div>
                                {% endcomment %}
                                <div class="form-actions">
                                    {% if editId %}
                                        <button id="saveFormGroup" href="{% url eGrupo_ajax editId %}" type="submit"
                                                class="btn btn-info">Guardar
                                        </button>
                                    {% else %}
                                        <button id="saveFormGroup" href="{% url nGrupo_ajax %}" type="submit"
                                                class="btn btn-info">Guardar
                                        </button>
                                    {% endif %}
                                    <button id="cancelFormGroup" class="btn btn-warning">Cancelar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>