<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}

{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/gestion_roles/permisos.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script>
        $(document).ready(function () {
            permisos.idResponsable = parseInt({{ id }});
            permisos.tipoResponsable = "{{ tipo }}";
            permisos.inicializar();
        });
    </script>

    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">Gestión Activos</a><span class="divider">&raquo;</span></li>

            <li class="active">Administrar permisos</li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class=" nonboxy-widget">
                    <div class="widget-head">
                        <h5> Permisos</h5>
                    </div>
                    <div class="widget-content well">
                        <div class="widget-box">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="span4">
                                        <div class="tree">
                                            {% load mptt_tags %}
                                            <ul>
                                                {% recursetree nodes %}
                                                    <li>
                                                        <span><input type="radio" name="permisos" id="{{ node.id }}"
                                                                     value="{{ node.id }}"/><i
                                                                class="icon-calendar"></i> {{ node.nombre }}</span>
                                                        {% if not node.is_leaf_node %}
                                                            <ul class="children">
                                                                {{ children }}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endrecursetree %}
                                            </ul>
                                        </div>
                                    </div>
                                    <style>
                                        .tbl-searchbox {
                                            padding: 0px 20px 14px 0px;
                                        }
                                    </style>
                                    <div class="span2">
                                        <select style="width: 120px" name="roles" id="roles">
                                            {% for rol in roles %}
                                                <option value="{{ rol.getValor }}">{{ rol.getNombre }}</option>
                                            {% endfor %}
                                        </select>

                                        <br/>
                                        <br/>

                                        <div id="unaPrueba"></div>
                                        <a class="info_t btn btn-info" onclick="permisos.add()">+</a>
                                    </div>

                                    <div class="span6">
                                        <table class="table" id="table_permissions">
                                            <thead>

                                            <tr>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Rol
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>
                                        <style type="text/css">
                                            .tbl-searchbox {
                                                padding: 0px 20px 14px 0px;
                                            }
                                        </style>
                                    </div>
                                    <div></div>
                                </fieldset>
                                <div class="form-actions">
                                </div>

                            </form>
                            <div class="modal hide fade" id="modal_confirmacion">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×
                                    </button>
                                    <h3>Eliminación</h3>
                                </div>

                                <div class="modal-body">
                                    ¿Está seguro que desea eliminar el permiso: <b><span id="nombre_permiso"></span></b>?
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" id="bDeletePermission">
                                        Eliminar
                                    </button>
                                    <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                            <div class="modal hide fade" id="modal_edicion">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×
                                    </button>
                                    <h3>Editar Permiso</h3>
                                </div>
                                <form id="form_update_permission" class="form-horizontal">
                                    <div class="modal-body">
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="id_nombre">Nombre : </label>

                                                <div class="controls">
                                                    <span id="nombrePermisooEditar" style="font-weight: bold"></span>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="id_nombre">Rol : </label>

                                                <div class="controls">
                                                    <select style="width: 120px" name="rolesEditar" id="rolesEditar">
                                                        {% for rol in roles %}
                                                            <option value="{{ rol.getValor }}">{{ rol.getNombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-info" id="bUpdatePermission">
                                            Actualizar
                                        </button>
                                        <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}