<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends 'dashboard.html' %}

{% block zonaTrabajo%}
<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="nonboxy-widget">
                    <div class="widget-head">
                        <h5>Cambiar Contrase&ntilde;a</h5>
                    </div>
                    <div class="widget-content well">

                        <div class="widget-box">
                            <form id="formUser" class="form-horizontal" method="post">
                                <fieldset>
                                    <div class="cuerpo-formulario">
                                        <div class="marco-formulario">
                                            <form id='formulario' method="post" action="">
                                                {% csrf_token %}
                                                {{formulario}}
                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-info">Reestablecer</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}