<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% comment %}{% extends 'dashboard.html' %}

{% block zonaTrabajo %}{% endcomment %}
{% comment %}<script src="{{ STATIC_URL }}js/gestion_roles/usuarios.js"></script>
<script src="{{ STATIC_URL }}js/gestion_roles/permisos.js"></script>
<script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
<script>
    $(document).ready(function () {
        usuarios.idResponsable = parseInt({{ persona.id }})
        permisos.idResponsable = parseInt({{ persona.id }})
        permisos.tipoResponsable = "user"
        usuarios.readGroupUser()
        permisos.read()
        usuarios.inicializar()
    });
</script>{% endcomment %}
<div class="container-fluid">
<div class="row-fluid">
<div class="row-fluid">
<div id="tabs">
<ul>
    <li><a href="#tabs-1">Informaci&oacute;n</a></li>
    <li><a href="#tabs-2">Grupos</a></li>
    <li><a href="#tabs-3">Permisos</a></li>
    {% if user.is_superuser %}
        <li><a href="#tabs-4">Administrador</a></li>
    {% endif %}
</ul>
<div id="tabs-1">
    <div class="widget-block">
        <div class="widget-head">
            <h5>INFORMACIÓN</h5>
        </div>
        <div class="widget-content">
            <div class="widget-box">
                <div class="row-fluid">
                    <table>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                    </table>
                    <div class="span3">
                        {% if persona.foto == '' %}
                            <img src="{{ STATIC_URL }}/img/no-foto.png" width="90px"
                                 height="120px"/>
                        {% else %}
                            <img src="{{ persona.foto }}" width="90px"
                                 height="120px"/>
                        {% endif %}
                    </div>
                    <div class="span5">
                        <br/>
                        <table>

                            <tr>
                                <td>
                                    <dt>Nombre</dt>
                                </td>
                                <td>
                                    <dd>{{ persona.nombre }}</dd>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dt>Apellido</dt>
                                </td>
                                <td>
                                    <dd>{{ persona.apellido }}</dd>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dt>Email</dt>
                                </td>
                                <td>
                                    <dd>{{ persona.email }}</dd>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dt>Identificaci&oacute;n</dt>
                                </td>
                                <td>
                                    <dd>{{ persona.identificacion }}</dd>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dt>Departamento</dt>
                                </td>
                                <td>
                                    <dd>{{ persona.departamento }}</dd>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dt>Cargo</dt>
                                </td>
                                <td>
                                    <dd>{{ persona.cargo }}</dd>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tabs-2">
    <div class="widget-block">
        <div class="widget-head">
            <h5>GRUPOS ASOCIADOS</h5>

            {% comment %}
                <div class="widget-control pull-right">
                    <div class="pull-right"><a class="btn" href="{% url lUsuario %}"><i
                            class="color-icons user_co"></i>Usuarios</a></div>
                    <div class="pull-right"><a class="btn" href="{% url nUsuario %}"><i
                            class="color-icons add_co"></i>Usurio</a></div>
                    <div class="pull-right"><a class="btn" href="{% url nGrupo %}"><i
                            class="color-icons group_co"></i>Nuevo</a></div>
                </div>
            {% endcomment %}
        </div>
        <div class="widget-content">
            <div class="widget-box">
                <table id="table_group" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        {% comment %}<th></th>{% endcomment %}
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="tabs-3">
    <div class="widget-block">
        <div class="widget-head">
            <h5>PERMISOS</h5>

            <div class="widget-control pull-right" id="permisosAddSection">
                <div class="pull-right" style="padding-left: 20px">
                    <a class="info_t btn" onclick="permisos.add()"><i class="color-icons add_co"></i>Agregar</a>
                </div>
                <div class="pull-right">
                    <select style="width: 120px; height: 40px" name="roles" id="roles">
                        {% for rol in roles %}
                            <option value="{{ rol.getValor }}">{{ rol.getNombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="widget-content">
            <div class="widget-box">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="span6">
                            <div class="tree" style="overflow-y: scroll; height: 300px">
                                {% load mptt_tags %}
                                <ul>
                                    {% recursetree nodes %}
                                        <li>
                                                <span><input type="radio" name="permisos" id="{{ node.id }}"
                                                             value="{{ node.id }}"/><i
                                                        class="icon-calendar"></i> {{ node.nombre }}</span>
                                            {% if not node.is_leaf_node %}
                                                <ul class="children">
                                                    {{ children }}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endrecursetree %}
                                </ul>
                            </div>
                        </div>
                        <style>
                            .tbl-searchbox {
                                padding: 0px 20px 14px 0px;
                            }
                        </style>
                        <div class="span6">
                            <table class="table" id="table_permissions">
                                <thead>

                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Rol
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                            <style type="text/css">
                                .tbl-searchbox {
                                    padding: 0px 20px 14px 0px;
                                }
                            </style>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% if user.is_superuser %}
    <div id="tabs-4">
        <div class="widget-block">
            <div class="widget-head">
                <h5>Administrador de Tablas Maestras</h5>

                <div class="widget-control pull-right">
                    <div class="pull-right">
                        <a class="info_t btn" id="addMasterPermissionBtn"><i class="color-icons add_co"></i>Agregar</a>

                        <div>
                            <span>Administrador</span><input type="checkbox" id="checkAdministrador"
                                                             {% if persona.usuario.is_staff %}checked {% endif %}/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div class="span6" id="masterPermissionContainer">
                                <div id="classPermissions" class="tree" style="overflow-y: scroll; height: 300px">
                                    <ul>
                                        {% for object in permisosMaestras %}
                                            <li>
                                                <span>
                                                    <i class="icon-calendar"></i> {{ object.key.name }}
                                                </span>
                                                <ul class="children">
                                                    {% for permission in object.value %}
                                                        <li>
                                                        <span>
                                                            <input type="radio" name="permisosMaestras"
                                                                   id="{{ permission.id }}"
                                                                   value="{{ permission.id }}"/>
                                                            <i class="icon-calendar"></i> {{ permission.name }}
                                                        </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="span6">
                                <table class="table" id="table_permissions_master">
                                    <thead>

                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <style type="text/css">
                                    .tbl-searchbox {
                                        padding: 0px 20px 14px 0px;
                                    }
                                </style>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>
</div>
</div>

</div>

<div id="modal_confirmacion" title="Eliminar Permiso">
    <div class="modal-body">
        ¿Está seguro que desea eliminar el permiso: <b><span id="nombre_permiso"></span></b>?
    </div>
</div>

<div id="modal_confirmacion_permission_master" title="Eliminar Permiso">
    <div class="modal-body">
        ¿Está seguro que desea eliminar el permiso: <b><span id="nombre_permiso"></span></b>?
    </div>
</div>

<div id="modal_edicion" title="Editar Permiso" style="overflow-y:hidden">
    <form id="form_update_permission" class="form-horizontal">
        <div class="modal-body">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="id_nombre">Nombre : </label>

                    <div class="controls">
                        <span id="nombrePermisoEditar" style="font-weight: bold"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_nombre">Rol : </label>

                    <div class="controls">
                        <select style="width: 120px" name="rolesEditar" id="rolesEditar">
                            {% for rol in roles %}
                                <option value="{{ rol.getValor }}">{{ rol.getNombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" id="bUpdatePermission">
                Actualizar
            </button>
            <button class="btn btn-warning" id="cancelUpdatePermission">
                Cancelar
            </button>
        </div>
    </form>
</div>

{% if user.is_superuser %}
    <script>
        var idPermissionMaster = 0;
        var leerPermissionMaster = function () {
            var url = "/roles/permissionmaster/all";
            var objeto = {
                usuario: {{ persona.usuario.id }}
            }
            constantes._modal();
            constantes.peticionGet(url, objeto, function (data) {
                $('#table_permissions_master').dataTable({
                    "bDestroy": true,
                    "aaData": data,
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": 5,
                    "oLanguage": jQuery.labels,
                    "sDom": '<"table_top clearfix"f<"clear">>,<"table_content"t>,<"table_bottom"p<"clear">>',
                    "aoColumns": [
                        { mDataProp: 'name', "fnRender": function (oObj) {
                            return oObj.aData.name
                        }},
                        { mDataProp: 'id', "fnRender": function (data) {
                            return '<a href="#" onclick="removePermissionMaster(' + data.aData.id + ', \'' + data.aData.name + '\')"><span class= "color-icons  page_white_delete_co text-tip" title="Eliminar"></span></a>';
                        }}
                    ]
                });
                constantes._modal('hide');
            });
        };
        $("#modal_confirmacion_permission_master").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            modal: true,
            buttons: [
                {
                    text: "Aceptar",
                    class: 'btn btn-success',
                    click: function () {
                        var url = "/roles/permissionmaster/delete";
                        debugger;
                        var objeto = {
                            idPermiso: idPermissionMaster,
                            usuario: {{ persona.usuario.id }}
                        }
                        constantes.peticionGet(url, objeto, function (data) {
                            constantes.growl.success(constantes.codigos.ELIMINACION, "Permiso Maestra");
                            $('#modal_confirmacion_permission_master').dialog("close");
                            leerPermissionMaster();
                        });
                    }
                },
                {
                    text: "Cancelar",
                    class: 'btn btn-warning',
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
        var removePermissionMaster = function (idPermiso, nombrePermiso) {
            idPermissionMaster = idPermiso;
            $("#modal_confirmacion_permission_master #nombre_permiso").html(nombrePermiso);
            $('#modal_confirmacion_permission_master').dialog("open");
        };
        $("#addMasterPermissionBtn").on("click", function (e) {
            var url = "/roles/permissionmaster/create";
            var permiso = $('input[name=permisosMaestras]:checked').attr('value');
            if (permiso != null) {
                var objeto = {
                    idPermiso: permiso,
                    usuario: {{ persona.usuario.id }} {% comment %}ID del usuario{% endcomment %}
                }
                constantes.peticionGet(url, objeto, function (data) {
                    constantes.growl.success(constantes.codigos.CREACION, "Permiso Maestra");
                    leerPermissionMaster()
                });
            } else {
                constantes.growl.info("Debe seleccionar un nodo");
            }
        });
        $("#checkAdministrador").on("change", function (e) {
            var url = "/roles/permissionmaster/setadmin";
            var objeto = {
                isStaff: $("#checkAdministrador:checked").length > 0,
                usuario: {{ persona.usuario.id }} {% comment %}ID del usuario{% endcomment %}
            }
            constantes.peticionGet(url, objeto, function (data) {
                constantes.growl.success(constantes.codigos.EDICION, "Permiso Maestra");
            });
        });

        leerPermissionMaster();
    </script>
{% endif %}