<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="nonboxy-widget">
                    <div class="widget-content well">
                        <div class="widget-box">
                            <form id="formUser" class="form-horizontal" method="post" action="">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="input01">Identificación</label>

                                        <div class="controls">
                                            {{ formulario.identificacion }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="input01">Nombre</label>
                                        <div class="controls">
                                            {{ formulario.nombre }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="input01">Apellido</label>

                                        <div class="controls">
                                            {{ formulario.apellido }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" >Fecha de nacimiento</label>

                                        <div class="controls">
                                            {{ formulario.fechaNacimiento }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="input01">Correo</label>

                                        {{ formulario.email.errors }}
                                        <div class="controls">

                                            {{ formulario.email }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Departamento</label>

                                        <div class="controls">

                                            {{ formulario.departamento }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Cargo</label>

                                        <div class="controls">

                                            {{ formulario.cargo }}
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        {% if editId%}
                                            <button id="saveFormUser" href="{% url eUsuario_ajax editId %}" type="submit" class="btn btn-info">Guardar</button>
                                        {% else%}
                                            <button id="saveFormUser" href="{% url nUsuario_ajax %}" type="submit" class="btn btn-info">Guardar</button>
                                        {% endif %}
                                        <button id="cancelFormUser" class="btn btn-warning">Cancelar</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>