<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends 'dashboard.html' %}
{% load home_extras %}
{% block zonaTrabajo %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block " style="height: 150px">
                    <div class="widget-content">
                        <div class="widget-box" style="height: 150px">
                        <div class="widget-box" style="height: 150px">
                            <div class="well white-box">
                                <table>
                                    <tr>
                                        <td style="cursor: pointer">
                                            {% if persona.foto == '' %}
                                            <img src="{{ STATIC_URL }}/img/no-foto.png" width="90px"
                                                 height="120px"/></td>
                                            {% else %}
                                                <img src="{{ persona.foto }}" width="90px"
                                                 height="120px"/></td>
                                            {% endif %}
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                    <h1>
                                                        <dt>
                                                            &nbsp;&nbsp; {{ persona.nombre }} {{ persona.apellido }}</dt>
                                                    </h1>
                                                    </td>
                                                </tr>
                                                <tr >
                                                    <td align="right"  valign="bottom">
                                                    <h3>
                                                        <dt>
                                                            {{ persona.usuario.username}}
                                                        </dt>
                                                    </h3>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span7">
                <div class=" widget-block">
                    <div class="widget-head">
                        <h5> Información</h5>
                    </div>
                    <div class="widget-content">

                        <div class="widget-box">
                            <div class="well white-box">
                                <table>
                                    <tr>
                                        <td>
                                            <dt>Usuario</dt>
                                        </td>
                                        <td>
                                            <dd>{{ persona.usuario.username }}</dd>
                                        </td>
                                    </tr>
                                    {% if user.is_superuser %}
                                        <tr>
                                            <td>
                                                <dt>Correo</dt>
                                            </td>
                                            <td>
                                                <dd>{{ persona.email }}</dd>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <dt>Contrase&ntilde;a</dt>
                                        </td>
                                        <td>
                                            <dd><a href="{% url user_setpassword %}">Cambiar</a></dd>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <dt>Nombre</dt>
                                        </td>
                                        <td>
                                            <dd>{{ persona.nombre }}</dd>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <dt>Apellido</dt>
                                        </td>
                                        <td>
                                            <dd>{{ persona.apellido }}</dd>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <dt>Identificaci&oacute;n</dt>
                                        </td>
                                        <td>
                                            <dd>{{ persona.identificacion }}</dd>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <dt>Departamento</dt>
                                        </td>
                                        <td>
                                            <dd>{{ persona.departamento }}</dd>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <dt>Cargo</dt>
                                        </td>
                                        <td>
                                            <dd>{{ persona.cargo }}</dd>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="widget-block " style="height: 384px">
                    <div class="widget-head">
                        <h5> Actividad Reciente </h5>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box scroll" style="height: 340px">
                            <div class="well white-box">

                                {% for act in actividad %}
                                    <div class="side-news">
                                        <h5><a href="#">{{ act.titulo }}</a></h5>
                                        <p>{{ act.descripcion }} - {{ act.fecha }}</p>
                                    </div>
                                {% empty %}
                                    <span>No hay actividad reciente</span>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}