<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}
{% load home_extras%}
{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/gestion_roles/permisos.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script>
        $(document).ready(function () {
            var permisos = {{ user.permisos }}
            usuarios.inicializar(permisos)
        });
    </script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>Usuarios</h5>
                        <div class="widget-control pull-right">
                            <div class="pull-right">
                                <a class="btn" href="{% url nUsuario %}" id="newUsuario"><i class="color-icons add_co"></i>Nuevo</a>
                            </div>

                            {% comment %}                            <div class="pull-right">
                                <a class="btn" href="{% url nGrupo %}">
                                    <i class="color-icons user_co"></i>Grupo
                                </a>
                            </div>

                            <div class="pull-right">
                                <a class="btn" href="{% url pRoles %}">
                                    <i class="color-icons application_home_co"></i>Panel
                                </a>
                            </div>
                            <div class="pull-right">
                                <a class="btn" href="{% url lGrupo %}">
                                    <i class="color-icons group_co"></i>Grupos
                                </a>
                            </div>   {% endcomment %}
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <table id="table_user" class="table">
                                <thead>
                                <tr>
                                    <th>Empleado</th>
                                    <th>Cargo</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="window_usuario" title="Usuario">
        <div id="content"></div>
    </div>

<div id="dialog-confirm" title="Eliminar Usuario">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>¿Está seguro que desea eliminar el usuario: <b><span id="nombre_usuario"></span></b>?</p>
</div>
{% endblock %}