<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends 'dashboard.html' %}

{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/gestion_riesgos/riesgos.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a><span class="divider">&raquo;</span></li>
            <li><a href="#">Metodologia</a><span class="divider">&raquo;</span></li>
            <li class="active">Detalles</li>
        </ul>
        <div class="row-fluid">
            <div class="nonboxy-widget">
                <div class="widget-head">
                    <h5>{{ activo.nombre }}</h5>

                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-block">
                        <div class="widget-head">
                            <h5>INFORMACIÓN</h5>

                            <div class="widget-control pull-right">
                                <div class="pull-right"><a class="btn" href="{% url lMetodologia %}"><i
                                        class="color-icons delete_co"></i>Eliminar</a></div>
                                <div class="pull-right"><a class="btn" href="{% url eMetodologia metodologia.id %}"><i
                                        class="color-icons desktop_co"></i>Editar</a></div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box">

                                <br/>
                                <dl class="dl-horizontal">
                                    <dt>Nombre</dt>
                                    <dd>{{ metodologia.nombre }}</dd>
                                    <dt>Autor</dt>
                                    <dd>{{ metodologia.autor.nombre }} {{ metodologia.autor.apellido }}</dd>
                                    <dt>Descripcion</dt>
                                    <dd>{{ metodologia.descripcion }}</dd>
                                    <dt>Fecha de creación</dt>
                                    <dd>{{ metodologia.fechaCreacion }}</dd>
                                    <dt>Fecha de actualización</dt>
                                    <dd>{{ metodologia.fechaActualizacion }}</dd>
                                    <dt>Requerimiento de seguridad</dt>
                                    <dd>
                                        {% for requerimiento in metodologia.requerimientoSeguridad.all %}
                                            {{ requerimiento }}
                                        {% empty %}
                                            Ninguna
                                        {% endfor %}
                                    </dd>
                                    <dt>Escala de valoración</dt>
                                    <dd>
                                        {% for escala in metodologia.escalaValoracion.all %}
                                            {{ escala }}
                                        {% empty %}
                                            Ninguna
                                        {% endfor %}
                                    </dd>
                                </dl>

                                <br/>
                                <br/>

                            </div>
                        </div>
                    </div>
                    <div class="widget-block">
                        <div class="widget-head">
                            <h5>RESPONSABLE</h5>

                            <div class="widget-control pull-right">
                                <div class="pull-right"><a class="btn" href="{% url lUsuario %}"><i
                                        class="color-icons user_co"></i>Usuarios</a></div>
                                <div class="pull-right"><a class="btn" href="{% url nUsuario %}"><i
                                        class="color-icons add_co"></i>Usurio</a></div>
                                <div class="pull-right"><a class="btn" href="{% url nGrupo %}"><i
                                        class="color-icons group_co"></i>Nuevo</a></div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box">
                                <dl class="dl-horizontal">
                                    <dt>Nombre</dt>
                                    <dd>{{ metodologia.autor }}</dd>
                                    <dt>Cargo</dt>
                                    <dd>{{ metodologia.autor.cargo }}</dd>
                                    <dt>Email</dt>
                                    <dd>{{ metodologia.autor.email }}
                                    </dd>
                                </dl>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="widget-block">
                        <div class="widget-head">
                            <h5>EVALUACIÓN</h5>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box">
                                <table class="table table-hover" id="table_permissions">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Rol</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}