<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}
{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/gestion_riesgos/riesgos.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script>
        $(document).ready(function () {
            riesgos.inicializar();
        });
    </script>
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="{% url inicio %}">Inicio</a><span class="divider">&raquo;</span></li>
            <li><a href="#">Gestion de Riesgos</a><span class="divider">&raquo;</span></li>
            <li class="active">Metodología</li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>Gestion De Riesgos</h5>

                        <div class="widget-control pull-right">
                            <div class="pull-right">
                                <a class="btn" href="{% url nMetodologia %}" id="newUsuario"><i class="color-icons add_co"></i>Nuevo</a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <table class="table" id="table_methodology">
                                <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Autor
                                    </th>
                                    <th>
                                        Descripción
                                    </th>
                                    <th>
                                        Fecha creación
                                    </th>
                                    <th>
                                        Fecha Actualización
                                    </th>
                                    <th>
                                        Requerimientos de seguridad
                                    </th>
                                    <th>
                                        Escala de valoración
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                                </thead>
                            </table>
                            <div class="modal hide fade" id="modal_confirmacion">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×
                                    </button>
                                    <h3>Eliminación</h3>
                                </div>

                                <div class="modal-body">
                                    ¿Está seguro que desea eliminar la metodología: <b><span id="nombre_activo"></span></b>?
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" id="bDeleteActive">
                                        Eliminar
                                    </button>
                                    <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}