<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}

{% block zonaTrabajo %}

    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">Gestión Riesgos</a><span class="divider">&raquo;</span></li>

            <li class="active">crear Metodologia</li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="nonboxy-widget">
                    <div class="widget-head">
                        <h5> Crear Metodologia</h5>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <form class="form-horizontal well" method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="id_nombre">Nombre</label>

                                        <div class="controls">
                                            {{ formulario.nombre }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="id_descripcion">Descripción</label>

                                        <div class="controls">
                                            {{ formulario.descripcion }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Requerimientos de Seguridad</label>

                                        <div class="controls">
                                            {{ formulario.requerimientoSeguridad }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Escala de valoración</label>

                                        <div class="controls">
                                            {{ formulario.escalaValoracion }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Amenazas</label>

                                        <div class="controls">
                                            {{ formulario.amenazas }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Salvaguardas</label>

                                        <div class="controls">
                                            {{ formulario.salvaguardas }}
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-info">Guardar</button>
                                        <button class="btn btn-warning">Cancelar</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}