<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}
{% block zonaTrabajo %}
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="{% url inicio %}">Inicio</a><span class="divider">&raquo;</span></li>
            <li><a href="#">Gestion de Riesgos</a><span class="divider">&raquo;</span></li>
            <li class="active">Proyectos</li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>Proyectos</h5>

                        <div class="widget-control pull-right">
                            <div class="pull-right">
                                <a class="btn" href="{% url nProject %}" id="newUsuario"><i class="color-icons add_co"></i>Nuevo</a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <table class="table" id="table_project">
                                <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Descripción
                                    </th>
                                    <th>
                                        Fecha creación
                                    </th>
                                    <th>
                                        Metodología
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for proyecto in proyectos %}
                                        <tr>
                                            <td>{{ proyecto.nombre }}</td>
                                            <td>{{ proyecto.descripcion }}</td>
                                            <td>{{ proyecto.fechaCreacion }}</td>
                                            <td>{{ proyecto.metodologia }}</td>
                                            <td><a href="{% url eProject proyecto.id %}"><span class= "color-icons page_white_edit_co text-tip" title="Editar"></span></a></td>
                                            <td><a href="{% url eProject proyecto.id %}"><span class= "color-icons chart_bar_co text-tip" title="Graficas"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}