<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}
{% load riesgos_extras %}
<script type="text/javascript" charset="utf-8">
		webix.ready(function(){
            console.log("Webix");
		});
</script>
{% block zonaTrabajo %}
    <script src="{{ STATIC_URL }}js/handsontable/dist/handsontable.full.js"></script>
    <link href="{{ STATIC_URL }}js/handsontable/dist/handsontable.full.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/typeahead.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/gestion_riesgos/riesgos.js"></script>
    <script src="{{ STATIC_URL }}js/gestion_riesgos/proyectoFormView.js"></script>
    <script src="{{ STATIC_URL }}js/buscadores/buscadores.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script>
        var proyecto;

        $(document).ready(function () {
            window.urlSearchActivos = '{% url activeSearch %}';
            window.urlSearchAmenazas = '{% url threatSearch %}';
            window.urlSearchSalvaguardas = '{% url safeguardingSearch %}';
            /**
             *
             * Inicializar buscador para activos
             */

            // Url del buscador de activos
            buscadores.inicializar_blood();

            var optionsActivos = {
                id:'#typeahead_activos',
                displayKey: 'nombre',
                blood : buscadores.blood_activos,
                onSelect: buscadores.onSelectActivos
            }

            var optionsAmenazas = {
                id:'#typeahead_amenazas',
                displayKey: 'nombre',
                blood : buscadores.blood_amenazas,
                onSelect: buscadores.onSelectAmenazas
            }
            var optionsSalvaguardas = {
                id:'#typeahead_add_salvaguardas_amenaza',
                displayKey: 'nombre',
                blood : buscadores.blood_salvaguardas,
                onSelect: buscadores.onSelectAddSalvaguardasAmenaza
            }
            var optionsAddAmenazasActivo = {
                id:'#typeahead_add_amenazas_activo',
                displayKey: 'nombre',
                blood : buscadores.blood_amenazas,
                onSelect: buscadores.onSelectAddAmenazasActivo
            }

            //Inicializar buscador de activos
            buscadores.initialize_search(optionsActivos);
            buscadores.initialize_search(optionsAmenazas);
            buscadores.initialize_search(optionsSalvaguardas);
            buscadores.initialize_search(optionsAddAmenazasActivo);
            var edit = '';

            proyecto = new ProyectoFormView();
            proyecto.id = parseInt('{{ id_proyecto}}');
            edit = '{{ edit }}';
            proyecto.edit = edit == 'False' ? false : true;
            proyecto.loadEvent();
            proyecto.loadElementsForm();

        });
    </script>
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">Gestión Riesgos</a><span class="divider">&raquo;</span></li>

            <li class="active">{% if edit %}Editar{% else %}Crear{% endif %} Proyecto</li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5> {% if edit %}Editar{% else %}Crear{% endif %} Proyecto</h5>
                        <div class="widget-control pull-right">
                            <div class="pull-right">
                                <a class="btn" href="{% url lProject %}" id="listProject"><i class="color-icons list_bullets_co"></i>Listar</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn" href="#" id="newProject"><i class="color-icons add_co"></i>Guardar</a>

                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <div class="span12">
                                <div class="box-tab">
                                  <div class="tabbable">
                                    <!-- Only required for left/right tabs -->
                                    <ul class="nav nav-tabs">
                                      <li class=""><a href="#tab1" data-toggle="tab">Información básica</a></li>
                                      <li class="active"><a href="#tab2" data-toggle="tab">Análisis de riesgo</a></li>
                                    </ul>
                                    <div class="tab-content">
                                      <div class="tab-pane" id="tab1">
                                        <form class="form-horizontal well" method="POST" id="formProject">
                                            {% csrf_token %}
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_codigo">Nombre</label>

                                                        <div class="controls">
                                                            <input type="text" class="input-xlarge" id="nombre" name="nombre">
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_descripcion">Descripción</label>

                                                        <div class="controls">
                                                            <textarea  class="input-xlarge" id="descripcion" name="descripcion"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_alcance">Alcance</label>

                                                        <div class="controls">
                                                            <textarea  class="input-xlarge" id="alcance" name="alcance"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_objetivo">Objetivos</label>

                                                        <div class="controls">
                                                            <textarea  class="input-xlarge" id="objetivo" name="objetivo"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label" for="typehead">Metododología</label>

                                                        <div class="controls">
                                                            <select data-placeholder="Seleccione metodología" style=" width:300px" class="chzn-select" tabindex="13" id="metodologia" name="metodologia">
                                                                <option value=""></option>
                                                                {% for metodologia in metodologias %}
                                                                    <option value="{{ metodologia.id }}"
                                                                            {% if proyecto.metodologia.id == metodologia.id %} selected="selected" {% endif %}>{{ metodologia.nombre }}</option>
                                                                {% endfor %}
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                      </div>
                                      <div class="tab-pane active" id="tab2">
                                        <div class="span12">
                                            <div class="tabbable">
                                                <!-- Only required for left/right tabs -->
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab_activos" data-toggle="tab">Activos</a></li>
                                                    <li class=""><a href="#tab_amenazas" data-toggle="tab">Amenazas</a></li>
                                                    <li class="valoracionActivos" {% if not estadoValoracionActivos %}style="display: none;" {% endif %}><a href="#tab_valoracion_activos" data-toggle="tab">Valoración activos</a></li>
                                                    <li class="valoracionAmenazas" {% if not estadoValoracionAmenazas %}style="display: none;" {% endif %}><a href="#tab_valoracion_amenazas" data-toggle="tab">Valoración amenazas</a></li>
                                                    <li class="valoracionSalvaguardas" {% if not estadoValoracionSalvaguardas %}style="display: none;" {% endif %}><a href="#tab_valoracion_salvaguardas" data-toggle="tab">Valoración salvaguardas</a></li>
                                                    <li class="valoracionActivoAmenaza" {% if not estadoValoracionActivoAmenaza %}style="display: none;" {% endif %}><a href="#tab_add_activo_amenaza" data-toggle="tab">Sesión activo/amenaza</a></li>
                                                    <li class="valoracionAmenazaSalvaguarda" {% if not estadoValoracionAmenazaSalvaguarda %}style="display: none;" {% endif %}><a href="#tab_add_amenaza_salvaguarda" data-toggle="tab">Sesión amenaza/salvaguarda</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                  <div class="tab-pane active" id="tab_activos" style="height: 270px;">
                                                     <div class="row-fluid">
                                                         <div class="span6">
                                                             <input type="text" class="input-xlarge typeahead" id="typeahead_activos" name="typeahead_activos">
                                                         </div>
                                                         <div class="span6">
                                                         </div>
                                                     </div>

                                                        <table class="table" id="table_active">
                                                            <thead>
                                                            <tr>
                                                               <th>
                                                                    Código
                                                                </th>
                                                                <th>
                                                                    Nombre
                                                                </th>
                                                                <th>
                                                                    Descripción
                                                                </th>
                                                                <th>
                                                                    Tipo
                                                                </th>
                                                                <th>

                                                                </th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                  </div>
                                                  <div class="tab-pane" id="tab_amenazas" style="height: 270px;">
                                                      <div class="row-fluid">
                                                         <div class="span6">
                                                             <input type="text" class="input-xlarge typeahead" id="typeahead_amenazas" name="typeahead_amenazas">
                                                         </div>
                                                         <div class="span6">
                                                         </div>
                                                      </div>
                                                        <table class="table" id="table_amenaza">
                                                            <thead>
                                                            <tr>
                                                                <th>
                                                                    Nombre
                                                                </th>
                                                                <th>
                                                                    Descripción
                                                                </th>
                                                                <th>
                                                                    Tipo
                                                                </th>
                                                                <th>

                                                                </th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                  </div>
                                                  <div class="tab-pane" id="tab_valoracion_activos" >
                                                      <div class="span8">
                                                        <div id="matriz_valoracion_activos">

                                                        </div>
                                                      </div>
                                                      <div class="span4">
                                                          <table class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>
                                                                    Nombre
                                                                </th>
                                                                <th>
                                                                    Valor (Ingresar)
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label">Nulo</span>
                                                                    </td>
                                                                    <td>
                                                                        <b>0</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label label-info">Bajo</span>
                                                                    </td>
                                                                    <td>
                                                                        <b>1</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label label-warning">Medio</span>
                                                                    </td>
                                                                    <td>
                                                                        <b>2</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label label-success">Alto</span>
                                                                    </td>
                                                                    <td>
                                                                        <b>3-5</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label label-important">Critico</span>
                                                                    </td>
                                                                    <td>
                                                                        <b>6-10</b>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            </table>
                                                      </div>

                                                  </div>
                                                  <div class="tab-pane" id="tab_valoracion_amenazas" >
                                                      <div class="span8">
                                                        <div id="matriz_valoracion_amenazas">

                                                        </div>
                                                      </div>
                                                      <div class="span4">
                                                          <table class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>
                                                                    Valor
                                                                </th>
                                                                <th>
                                                                    Descripción
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label">MB</span>
                                                                    </td>
                                                                    <td>
                                                                        Frecuencia muy baja, <b>1 vez al a&ntilde;o</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label label-info">B</span>
                                                                    </td>
                                                                    <td>
                                                                        Frecuencia baja, <b>1 vez cada 6 meses</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label label-warning">M</span>
                                                                    </td>
                                                                    <td>
                                                                        Frecuencia media, <b>1 vez cada 2 meses</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label label-success">A</span>
                                                                    </td>
                                                                    <td>
                                                                        Frecuencia alta, <b>1 vez cada 1 semana</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="label label-important">MA</span>
                                                                    </td>
                                                                    <td>
                                                                        Frecuencia muy alta, <b>1 vez cada 1 día</b>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            </table>
                                                      </div>

                                                  </div>
                                                    <div class="tab-pane" id="tab_valoracion_salvaguardas" >
                                                      <div class="span10">
                                                        <div id="tableTree_valoracion_salvaguardas" class="span10">

                                                        </div>
                                                      </div>

                                                  </div>
                                                  <div class="tab-pane" id="tab_add_activo_amenaza" >
                                                      <div class="modal hide fade" id="addAmenazas" aria-hidden="true" style="display: none;height: auto" role="dialog">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                                <h3>Agregar amenzas</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="span10">
                                                                     <input type="text" class="input-xlarge typeahead" id="typeahead_add_amenazas_activo" name="typeahead_add_amenazas_activo">
                                                                </div>
                                                                <table class="table" id="table_add_amenazas_activo">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Nombre
                                                                        </th>
                                                                        <th>
                                                                            Descripción
                                                                        </th>
                                                                        <th>
                                                                            Tipo
                                                                        </th>
                                                                        <th>

                                                                        </th>
                                                                    </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="#" class="btn" data-dismiss="modal">Cerrar</a><a href="#" class="btn btn-primary" onclick="proyecto.selectionOfThreats()">Guardar</a>
                                                            </div>
                                                        </div>
                                                      <div class="span11">
                                                        <div id="add_activo_amenaza" class="span11">

                                                        </div>
                                                      </div>

                                                  </div>
                                                    <div class="tab-pane" id="tab_add_amenaza_salvaguarda" >
                                                      <div class="modal hide fade" id="addSalvaguardas" aria-hidden="true" style="display: none;height: auto" role="dialog">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                                <h3>Agregar salvaguardas</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="span10">
                                                                     <input type="text" class="input-xlarge typeahead" id="typeahead_add_salvaguardas_amenaza" name="typeahead_add_salvaguardas_amenaza">
                                                                </div>
                                                                <table class="table" id="table_add_salvaguardas_amenaza">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Nombre
                                                                        </th>
                                                                        <th>
                                                                            Descripción
                                                                        </th>
                                                                        <th>
                                                                            Tipo
                                                                        </th>
                                                                        <th>

                                                                        </th>
                                                                    </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="#" class="btn" data-dismiss="modal">Cerrar</a><a href="#" class="btn btn-primary" onclick="proyecto.selectionOfSafeguards()">Guardar</a>
                                                            </div>
                                                        </div>
                                                      <div class="span11">
                                                        <div id="add_amenaza_salvaguarda" class="span11">

                                                        </div>
                                                      </div>

                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}