<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends 'dashboard.html' %}

{% block zonaTrabajo %}
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a><span class="divider">&raquo;</span></li>
            <li class="active">Notificaciones</li>
        </ul>
        <div class="row">
            <div class="span11">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>Notificaciones</h5>

                        <div class="widget-control pull-right">
                            <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-cog"></i><b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-plus"></i> Add New</a></li>
                                <li><a href="#"><i class="icon-ok"></i> Bulk Approved</a></li>
                                <li><a href="#"><i class="icon-minus-sign"></i> Bulk Remove</a></li>
                            </ul>
                        </div>
                    </div>
                    {% if notificaciones.notificaciones %}


                        <div class="widget-content">
                            <div class="widget-box">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Titulo
                                        </th>
                                        <th>
                                            Descripción
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for notificacion in notificaciones.notificaciones %}

                                        <tr>
                                            <td>
                                                {{ notificacion.fecha }}
                                            </td>
                                            <td>
                                                {{ notificacion.titulo }}
                                            </td>
                                            <td>
                                                {{ notificacion.descripcion }}
                                            </td>
                                            <td>
                                                <a href="{% url eNotificacion notificacion.id %}"><span class="color-icons application_go_co text-tip"
                                                             title="Detalles"></span></a>

                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}

                        <span>No hay notificaciones</span>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}