<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="nonboxy-widget">
                    <div class="widget-content well">
                        <div class="widget-box">
                            <form id="formActividad" class="form-horizontal" method="POST" action="">
                                <fieldset>
                                    <div>
                                        <div id="id___all__"></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="id_titulo">Titulo</label>
                                        <div class="controls">
                                            {{ formulario.titulo }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="typehead">Encargado</label>
                                        <div class="controls">
                                            {{ formulario.responsables }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" >Inicio</label>

                                        <div class="controls">
                                            {{ formulario.inicio }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" >Fin</label>

                                        <div class="controls">
                                            {{ formulario.fin }}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label"> Tipo</label>
                                        <div class="controls">
                                            {{ formulario.tipoActividad }}
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Descripción</label>
                                        <div class="controls">
                                            {{ formulario.descripcion }}
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        {% if editId%}
                                            <button id="saveForm" href="{% url eActividad_ajax editId %}" type="submit" class="btn btn-info">Guardar</button>
                                        {% else%}
                                            <button id="saveForm" href="{% url nActividad_ajax %}" type="submit" class="btn btn-info">Guardar</button>
                                        {% endif %}
                                        <button id="cancelForm" class="btn btn-warning">Cancelar</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    </div>