<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}

{% block zonaTrabajo %}
    <script>
        $(document).ready(function () {
            actividades.tipo = "{{ tipo }}"
            actividades.inicializar()
        });
    </script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-block">
                    <div class="widget-head">
                        <h5>Actividades</h5>
                        <div id="datos"></div>
                        <div class="widget-control pull-right">
                            <a class="btn" href="{% url nActividad %}" id="newActividad"><i class="color-icons add_co"></i>Nueva</a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="widget-box">
                            <table id="table_activity" class="table">
                                <thead>
                                <tr>
                                    <th>
                                        Titulo
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        Inicio
                                    </th>
                                    <th>
                                        Finalización
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Descripción
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="window_actividad" title="Actividad">
        <div id="content"></div>
    </div>

<div id="dialog-confirm" title="Eliminar Actividad">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>¿Está seguro que desea eliminar la actividad: <b><span id="nombre_actividad"></span></b>?</p>
</div>

{% endblock %}