<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends 'dashboard.html' %}
{% load home_extras %}
{% block zonaTrabajo %}

    <!-- Generic page styles -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/style.css">

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/jquery.fileupload.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/jquery.fileupload-ui.css">

<script src="{{ STATIC_URL }}js/jquery-file-uploader/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/canvas-to-blob.min.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-ui.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->

    <script src="{{ STATIC_URL }}js/gestion_documental/actividades.js"></script>
    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script>
        $(document).ready(function () {
            actividades.tipo = "{{ tipo }}"
            actividades.idActividad = "{{ actividad.id }}";
            actividades.inicializarActividadDetalle();
        });
    </script>
    <div class="container-fluid">
    <ul class="breadcrumb">
        <li><a href="{% url inicio %}">Inicio</a><span class="divider">&raquo;</span></li>
        <li><a href="{% url lActividad %}">Actividades</a><span class="divider">&raquo;</span></li>
        <li class="active">Detalles</li>
    </ul>
    <div class="row-fluid">
        <div class="span7">
            <div class="widget-block">
                <div class="widget-head">
                    <h5>Informaci&oacute;n</h5>
                </div>
                <div class="widget-content">
                    <div class="widget-box" style="height: 250px">
                        <div class="well white-box">
                            <table>
                                <!--TODO: poner boton de edicion actividad-->
                                <tr>
                                    <td>
                                        <dt>Titulo</dt>
                                    </td>
                                    <td>
                                        <dd>{{ actividad.titulo }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Creación</dt>
                                    </td>
                                    <td>
                                        <dd>{{ actividad.createDate }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Inicio</dt>
                                    </td>
                                    <td>
                                        <dd>{{ actividad.inicio }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Fin</dt>
                                    </td>
                                    <td>
                                        <dd>{{ actividad.fin }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Estado</dt>
                                    </td>
                                    <td>
                                        <dd><span
                                                class="label {{ actividad.estadoActividad|enum_style_activity }}">{{ actividad.estadoActividad|enum_activity:"estadoActividad" }}</span>
                                        </dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Responsables</dt>
                                    </td>
                                    <td>
                                        {% for responsable in actividad.responsables.all %}
                                            <dd><span class="color-icons user_co"></span> {{ responsable }}</dd>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Descripci&oacute;n</dt>
                                    </td>
                                    <td>
                                        <dd>{{ actividad.descripcion }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>&Uacute;ltima modificaci&oacute;n</dt>
                                    </td>
                                    <td>
                                        <dd>{{ actividad.updateDate }}</dd>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-block">
                <div class="widget-head">
                       <div class="widget-control pull-right">
                            <a class="btn" href="{% url nDocumento actividad.id%}" id="newDocumentButton"><i class="color-icons add_co"></i>Nuevo</a>
                        </div>
                    <h5><i class="black-icons money"></i> Documentos</h5>

{% comment %}                    <div class="widget-control pull-right"><a href="#" data-toggle="dropdown"
                                                              class="btn dropdown-toggle"><i class="icon-cog"></i><b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-list"></i> View All Orders</a></li>
                            <li><a href="#"><i class="icon-search"></i> Search Orders</a></li>
                            <li><a href="#"><i class="icon-ok"></i> Bulk Approved</a></li>
                            <li><a href="#"><i class="icon-minus-sign"></i> Bulk Cancel</a></li>
                        </ul>
                    </div>{% endcomment %}
                </div>
                <div class="widget-content" id="documents">
                    <div class="widget-box" style="height: 350px">
                        <table class="table" id="table_document">
                            <thead>
                            <tr>
                                <th> Titulo</th>
                                <th> Tipo</th>
                                <th class="center"> Estado</th>
                                <th class="center"> Versi&oacute;n</th>
                                <th class="center"> Acciónes</th>
                            </tr>
                            </thead>
                        </table>
                        <table class="table order-tbl" style="display:none">
                            <thead>
                            <tr>
                                <th class="center"><input type="checkbox" name="checkbox" id="checkbox">
                                </th>
                                <th> Detalle</th>
                                <th class="center"> Estado</th>
                                <th class="center"> Última modificación</th>
                                <th class="center"> Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="center"><input type="checkbox" name="checkbox1"></td>
                                <td><a href="#">Politica de clasificación de activos</a></td>
                                <td><span class="label label-warning">Revisión</span></td>
                                <td> 10 Noviembre de 2013</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="btn dropdown-toggle"><i
                                                class="icon-cog"></i><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><i class="icon-file"></i> View Order</a></li>
                                            <li><a href="#"><i class="icon-edit"></i> Edit Order</a></li>
                                            <li><a href="#"><i class="icon-share-alt"></i> Send Mesage</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="icon-minus-sign"></i> Cancel Order</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="center"><input type="checkbox" name="checkbox2"></td>
                                <td><a href="#">Procedimiento de identificación de activos</a></td>
                                <td><span class="label">Borrador</span></td>
                                <td> 10 Noviembre de 2013</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="btn dropdown-toggle"><i
                                                class="icon-cog"></i><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><i class="icon-file"></i> View Order</a></li>
                                            <li><a href="#"><i class="icon-edit"></i> Edit Order</a></li>
                                            <li><a href="#"><i class="icon-share-alt"></i> Send Mesage</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="icon-minus-sign"></i> Cancel Order</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="widget-block " style="height: 704px">
                <div class="widget-head">
                    <h5> Observaciones({{ conteo }})</h5>
                </div>
                <div class="widget-content">
                    <div class="widget-box scroll" style="height: 660px">
                        <div class="well white-box">

                           {% for o in observaciones %}
                               <div class="side-news">
                                    <i class="icon-user"></i><a>{{ o.autor }}</a> <br/>
                                    <i class="icon-file"></i><a href="{% url vDocumento o.documento.id %}">{{ o.documento }}</a>
                                    <p>{{ o.descripcion }} - {{ o.createDate }}
                               </div>
                            {% empty %}
                                <span>No hay observaciones</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">

    </div>
    </div>


    <div id="window_actividad_documento" title="Documento">
        <div id="content"></div>
    </div>

<div id="dialog-confirm" title="Eliminar Actividad">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>¿Está seguro que desea eliminar el documento: <b><span id="nombre_actividad"></span></b>?</p>
</div>
{% endblock %}