<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}
{% block zonaTrabajo %}
<div class="container-fluid">
    <ul class="breadcrumb">
        <li><a href="{% url inicio %}">Inicio</a><span class="divider">&raquo;</span></li>
        <li class="active">Mis actividades</li>
    </ul>
    {% if notificaciones.contador > 0 %}
        <div class="row-fluid">
            <div class="span12">

                <div class="alert fade in">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <a href="{% url notificaciones %}"><strong>Nuevas Actividades!</strong></a>.
                    Hola, {{ user.username }} tienes
                    nuevas actividades por realizar.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row-fluid">
        <div class="span12">
            <div id="calendar2">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar2').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                prev: 'Prev',
                next: 'Next',
                today: 'Today',
                month: 'Month',
                week: 'Week',
                day: 'Day'
            },
            editable: false,
            events: [
                {% for actividad in actividades %}
                    {
                        title: '{{ actividad.titulo }}',
                        start: new Date(y, m, d + {{ actividad.inicio }}),
                        end: new Date(y, m, d + {{ actividad.fin }}),

                    },

                {% endfor %}

            ]
        });
    });
</script>

{% endblock %}

