<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends 'dashboard.html' %}
{% load home_extras%}
{% block zonaTrabajo %}
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="{% url inicio %}">Inicio</a><span class="divider">&raquo;</span></li>
            <li><a href="{% url lDocumento %}">Documento</a><span class="divider">&raquo;</span></li>
            <li class="active">Detalles</li>
        </ul>
        <div class="row-fluid">
            <div class="nonboxy-widget">
                <div class="widget-head">
                    <h5>{{ documento.titulo }}</h5>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-block">
                        <div class="widget-head">
                            <h5> Información</h5>
                        </div>
                        <div class="widget-content ">
                            <div class="widget-box">
                                <div class="well white-box ">
                                    <div class="well white-box">
                            <table>
                                <!--TODO: poner boton de edicion actividad-->
                                <tr>
                                    <td>
                                        <dt>Titulo</dt>
                                    </td>
                                    <td>
                                        <dd>{{ documento.titulo }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Ultima Modificaci&oacute;n</dt>
                                    </td>
                                    <td>
                                        <dd>{{ documento.updateDate }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Estado</dt>
                                    </td>
                                    <td>
                                        <dd><span
                                                class="label {{ documento.estadoDocumento|enum_style_document }}">{{ documento.estadoDocumento|enum_document:"estadoDocumento" }}</span></dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Tipo</dt>
                                    </td>
                                    <td>
                                        <dd>{{ documento.tipoDocumento|enum_document:"tipoDocumento" }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Versi&oacute;n</dt>
                                    </td>
                                    <td>
                                        <dd>{{ documento.versionActual.version }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Actividad</dt>
                                    </td>
                                    <td>
                                        <dd>{{ documento.actividad }}</dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Descarga</dt>
                                    </td>
                                    <td>
                                        <dd><a href="../../media/{{ documento.versionActual.archivo }}"><span
                                                class="color-icons drive_disk_co"></span></a></dd>
                                    </td>
                                </tr>
                            </table>
                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="widget-block " style="height: 384px">
                        <div class="widget-head">
                            <h5> Versiones ({{ conteoVesiones }})</h5>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box scroll" style="height: 340px">
                                <div class="well white-box">
                                    {% for o in versiones %}
                                       <div class="side-news"> {{ o.version }}  <a href="../../media/{{ o.archivo }}"><span
                                                class="color-icons drive_disk_co"></span></a> <br/>
                                            <p>{{ o.createDate }}</p>
                                       </div>
                                    {% empty %}
                                        <span>No hay observaciones</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="widget-block " style="height: 384px">
                        <div class="widget-head">
                            <h5> Observaciones ({{ conteo }})</h5>
                        </div>
                        <div class="widget-content">
                            <div class="widget-box scroll" style="height: 340px">
                                <div class="well white-box">
                                    {% for o in observaciones %}
                                       <div class="side-news">
                                            <i class="icon-user"></i><a>{{ o.autor }}</a> <br/>
                                            <p>{{ o.descripcion }} - {{ o.createDate }}
                                       </div>
                                    {% empty %}
                                        <span>No hay observaciones</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}