<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}

{% block zonaTrabajo %}
        <!-- Generic page styles -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/style.css">

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/jquery.fileupload.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/jquery.fileupload-ui.css">

<script src="{{ STATIC_URL }}js/jquery-file-uploader/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/canvas-to-blob.min.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ STATIC_URL }}js/jquery-file-uploader/jquery.fileupload-ui.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->

    <script src="{{ STATIC_URL }}js/constates/constantes.js"></script>
    <script>
        $(document).ready(function () {
            documentos.tipo = "{{ tipo }}";
            documentos.inicializar();
        });
    </script>
    <div class="container-fluid">
        <ul class="breadcrumb" style="display: none">
            <li><a href="#">Gestión Documental</a><span class="divider">&raquo;</span></li>
            <li class="active">Documentos</li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="nonboxy-widget">
                    <div class="widget-head">
                        <h5 class="pull-left"><i class="black-icons list_images"></i> Documentos</h5>
                        <div class="btn-group pull-right" style="display: none">
                            <button data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-cog "></i><span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-file"></i>Add New</a></li>
                                <li><a href="#"><i class="icon-trash"></i> Remove</a></li>
                                <li><a href="#"><i class="icon-ok"></i> Mark Completed</a></li>
                            </ul>
                        </div>
                    </div>

                    <table class="table" id="table_document">
                        <thead>
                        <tr>
                            <th> Titulo</th>
                            <th> Tipo</th>
                            <th class="center"> Version</th>
                            <th class="center"> Estado</th>
                            <th class="center"> Inicio</th>
                            <th class="center"> Fin</th>
                            <th class="center"> Actualización</th>
                            <th class="center">Opciones</th>
                            <th class="center"> Acción</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="modal hide fade" id="modal_observacion">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×
                            </button>
                            <h3>Agregar observación</h3>
                        </div>
                    <form id="fileupload2" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <div class="modal-body">
                                <input type="hidden" value="" name="_documento" id="_documento"/>
                                <input type="hidden" value="" name="_estadoDocumento" id="_estadoDocumento"/>
                                <textarea id="textoObservacion" name="textoObservacion" style="width: 96%" rows="6"
                                          required></textarea>
                            </div>
                        </fieldset>

                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                            <div class="row fileupload-buttonbar" style="float: right">
                                <div class="col-lg-7" >
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Archivo</span>
                                        <input type="file" name="files" multiple>
                                    </span>
                                    <button type="submit" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Guardar</span>
                                    </button>
                                    <button type="reset" class="btn btn-warning cancel" data-dismiss="modal">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancelar</span>
                                    </button>
                                    <button style="display:none;" type="button" class="btn btn-danger delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                    <input type="checkbox" class="toggle" style="display: none">
                                    <!-- The global file processing state -->
                                    <span class="fileupload-process"></span>
                                </div>
                                <!-- The global progress state -->
                                <div class="col-lg-5 fileupload-progress fade">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                    </div>
                                    <!-- The extended global progress state -->
                                    <div class="progress-extended">&nbsp;</div>
                                </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                        </form>
                        <form id="form_observacion" method="POST" enctype="multipart/form-data" style="display: none">
                            {% csrf_token %}
                            <div class="modal-body">
                                <input type="hidden" value="" name="_documento" id="_documento"/>
                                <input type="hidden" value="" name="_estadoDocumento" id="_estadoDocumento"/>
                                <textarea id="textoObservacion" name="textoObservacion" style="width: 96%" rows="6"
                                          required></textarea>
                                <div class="control-group">
                                        <div class="controls">
                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Archivo...</span>
                                                <input id="uploaded-files" type="file" name="files">
                                            </span>
                                        </div>
                                    </div>
                                <div class="col-lg-5 fileupload-progress fade">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                    </div>
                                    <!-- The extended global progress state -->
                                    <div class="progress-extended">&nbsp;</div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>

                            </div>
                            <div class="modal-footer">
                                <div class="col-lg-7">
                                    <button type="submit" id="buttonFileUpload" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Crear Documento</span>
                                    </button>
                                    <button type="reset" class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancelar</span>
                                    </button>
                                    <!-- The global file processing state -->
                                    <span class="fileupload-process"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal hide fade" id="modal_confirmacion">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×
                                    </button>
                                    <h3>Eliminación</h3>
                                </div>

                                <div class="modal-body">
                                    ¿Está seguro que desea eliminar el documento: <b><span id="nombre_documento"></span></b>?
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" id="bDeleteDocument">
                                        Eliminar
                                    </button>
                                    <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>


                </div>
            </div>
        </div>
    </div>
    <script>
    $(function () {
$('#fileupload2').fileupload({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url: '../documental/document/versioning',
                uploadTemplateId: null,
                downloadTemplateId: null,
                //maxFileSize: 5000000,
                maxNumberOfFiles: 1,
                //acceptFileTypes: /^image\/(gif|jpe?g|png)$|^application\/(pdf|msword|vnd.(ms-excel|ms-powerpoint|openxmlformats-officedocument.+|oasis.opendocument.+))$/i,
                uploadTemplate: function (o) {
                    var rows = $();
                    $.each(o.files, function (index, file) {
                        var row = $('<tr class="template-upload fade">' +
                            '<td><span class="preview"></span>' +
                            '<img src="' + constantes.fileTypeImage(file.type) + '"/></td>' +
                            '<td><p class="name"></p>' +
                            '<div class="error"></div>' +
                            '</td>' +
                            '<td><p class="size"></p>' +
                            '</td>' +
                            '<td>' +
                            (!index && !o.options.autoUpload ?
                                '<button class="start" disabled style="display:none">Start</button>' : '') +
                            (!index ? '<button class="btn btn-warning cancel"><i class="glyphicon glyphicon-trash"></i><span>Eliminar</span></button>' : '') +
                            '</td>' +
                            '</tr>');
                        row.find('.name').text(file.name);
                        row.find('.size').text(o.formatFileSize(file.size));
                        if (file.error) {
                            row.find('.error').text(file.error);
                        }
                        rows = rows.add(row);
                    });
                    return rows;
                }
            }).bind('fileuploadadd', function (e, data) {
                $("table tbody.files").empty();
            })
            .bind('fileuploadstart', function (e) {
                $("#uploaded-files").prop('disabled', true);
                $("#buttonFileUpload").prop('disabled', true);
                console.log('Uploads started');
            })
            .bind('fileuploaddone', function (e, data) {
                $("#uploaded-files").prop('disabled', false);
                $("#buttonFileUpload").prop('disabled', false);
                //Aquí debe activarse el modal para la petición ajax
                $('#modal_observacion').modal('hide');
                documentos.read();
            })
            .bind('fileuploadalways', function (e, data) {
                $("#uploaded-files").prop('disabled', false);
                $("#buttonFileUpload").prop('disabled', false);
            });
            $('#fileupload2').fileupload(
                'option',
                'redirect'
                //window.location.href.replace(
                //    /\/[^\/]*$/,
                //    '/cors/result.html?%s'
                //)
            );
    });
    </script>
{% endblock %}