<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="nonboxy-widget">
                    <div class="widget-content">
                        <div class="widget-box">
                            <div id="form-wrapper" >
                            <form id="fileupload" class="form-horizontal well" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label"
                                               for="id_titulo">Titulo {{ formulario.actividad }}</label>

                                        <div class="controls">
                                            {{ formulario.titulo }}
                                            {# {{ formulario.titulo.errors }}#}
                                        </div>
                                        <br/>
                                        <label class="control-label"
                                               for="id_titulo">Descripci&oacute;n</label>
                                        <div class="controls">
                                            {{ formulario.descripcion }}
                                            {# {{ formulario.descripcion.errors }}#}
                                        </div>
                                        <br/>
                                        <label class="control-label"
                                               for="id_titulo">Tipo Documento</label>
                                        <div class="controls">
                                            {{ formulario.tipoDocumento }}
                                            {# {{ formulario.tipoDocumento.errors }}#}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Archivo</label>

                                        <div class="controls">
                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Archivo...</span>
                                                <input id="uploaded-files" type="file" name="files">
                                            </span>
                                        </div>
                                    </div>

                                                                        <!-- The global progress state -->
                                    <div class="col-lg-5 fileupload-progress fade">
                                        <!-- The global progress bar -->
                                        <div class="progress progress-striped active" role="progressbar"
                                             aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                        </div>
                                        <!-- The extended global progress state -->
                                        <div class="progress-extended">&nbsp;</div>
                                    </div>
                                     <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>

                                    <div class="form-actions">

                                        {% comment %}<button type="submit" class="btn btn-info">Guardar</button>
                                        <button class="btn btn-warning">Cancelar</button>{% endcomment %}
                                    </div>
                                </fieldset>
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <button type="button" id="buttonFileUpload" class="btn btn-primary start">
                                            <i class="glyphicon glyphicon-upload"></i>
                                            <span>Crear Documento</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning cancel">
                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                            <span>Cancelar</span>
                                        </button>
                                        <!-- The global file processing state -->
                                        <span class="fileupload-process"></span>
                                    </div>
                                </div>

                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Generic page styles -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/style.css">

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/jquery.fileupload.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-file-uploader/jquery.fileupload-ui.css">

<![endif]-->