<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% extends "dashboard.html" %}
{% block zonaTrabajo %}
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">Gestión Documental</a><span class="divider">&raquo;</span></li>
            <li><a href="#">{{ documento }}</a><span class="divider">&raquo;</span></li>
            <li class="active">Observaciones</li>
        </ul>
        <div class="row-fluid">
            <div class="span12">
                <div class="nonboxy-widget">
                    <div class="widget-head">
                        <h5 class="pull-left"><i class="black-icons list_images"></i> {{ documento }}</h5>

                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-cog "></i><span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-file"></i>Add New</a></li>
                                <li><a href="#"><i class="icon-trash"></i> Remove</a></li>
                                <li><a href="#"><i class="icon-ok"></i> Mark Completed</a></li>
                            </ul>
                        </div>
                    </div>

                    {% for observacion in observaciones %}
                        <tr>

                            <i class="icon-user"></i><a
                                href="{% url vDocumento observacion.documento.id %}">{{ observacion.autor }}</a>
                            <i class="icon-calendar"></i>Creada el {{ observacion.creacion }}<br/><br/>

                            <p>{{ observacion.descripcion }}</p>

                            <div class="separador"></div>
                        </tr>
                        {% empty %}
                        <span>No hay observaciones para este documento</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}