<!--
Autor: Andres Betin, Jhonny Madera y Raul Martelo
Copyright: Copyright 2016, Universidad de Cartagena
Credits: Andres Betin, Jhonny Madera, Raul Martelo,
         Grupo de investigacion GIMATICA
         Universidad de Cartagena
License: GPL
Version: 1.0.0
Status: Production
-->

{% load i18n %}
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#e6e6e6">
    <tbody>
    <tr>
        <td width="100%" bgcolor="#e6e6e6">
            <table width="584" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td width="584"><br> <br>
                        <table width="583" cellspacing="0" cellpadding="0" style="display:block">
                            <tbody>
                            <tr>
                                <td width="583" bgcolor="#000000"><a name="144d265b9da76ce7_header graphic"
                                                                     style="display:block;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;border:none"
                                                                     href="http://sgsisoft-sgsisoft.rhcloud.com"
                                                                     target="_blank"><img width="583" height="70"
                                                                                          border="0"
                                                                                          style="display:block;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;border:none"
                                                                                          alt="SGSISoft"
                                                                                          src="cid:image1"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
						<div style="background-color:#ffffff;">
                        <table width="584" cellspacing="0" cellpadding="0" style="display:block" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td width="580"
                                    style="background-color:#fff;background-repeat:repeat-y;padding-left:2px;padding-right:2px">
                                    <table width="580" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td width="600"
                                                style="background-color:#ffffff;background-repeat:repeat-x;padding:20px 40px 20px 40px">
                                                <p
                                                   style="font-family:Helvetica,Verdana,arial,helvetica,sans-serif;font-weight:normal!important;font-size:24px;line-height:33px;color:#7e7d7e;margin-top:10px;margin-left:0;margin-bottom:15px;margin-right:0;padding-top:10px;padding-bottom:0px;font-weight:bold">
                                                    {{ title }}</p>
												<p style="font-family:Helvetica,Verdana,arial,helvetica,sans-serif;font-weight:normal;font-size:15px;line-height:18px;color:#7e7d7e;margin-top:20px;margin-left:0;margin-bottom:10px;margin-right:0;padding:0">
													<b>{{ firstname }} {{ lastname }}</b>,
													<br/>
													<br/>
                                                    Su usuario registrado es {{ email }}<br/>
                                                    Contrase&ntilde;a: {{ password }}

                                                    <br>
                                                    <br>
                                                    <br>
                                                    Para confirmar por favor haga click en el siguiente link:
                                                    <p><a href="{{ confirmation_url }}">{{ confirmation_url }}</a></p>
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
						</div>
                        <table cellspacing="0" cellpadding="10" border="0" align="left" style="width:100%">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="padding-top:10px"><p
                                                    style="font-family:helvetica,arial,sans-serif;font-size:11px;line-height:17px;color:#7e7d7e;margin-top:0;margin-bottom:0px;margin-left:0;margin-right:0;padding:0">
                                                <span lang="es">Para mayor informaci&oacute;n, comun&iacute;cate con nosotros a trav&eacute;s de </span><a
                                                    href="mailto:infosgsisoft@gmail.com"
                                                    style="color:#7e7d7e">infosgsisoft@gmail.com</a>.
													</span>
                                            </p></td>
                                        </tr>
                                        </tbody>
                                    </table>
								</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
